@****************************************
* lista de trabalhos    *
****************************************@

@import views.html.helper.form
@import templates.bootstrap._
@(currentPage: com.avaje.ebean.PagedList[Trabalho],
    currentSortBy: String,
    currentOrder: String,
    currentFilter: String,
    currentAutor: String,
    listForm:DynamicForm)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.TrabalhoController.telaLista(newPage, sortBy, order, currentFilter, currentAutor)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th rowspan="1" colspan="1" tabindex="0" class="@key.replace(".","_") sorting @if(currentSortBy == key) @{if(currentOrder == "asc") "sorting_asc headercor" else "sorting_desc headercor"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@views.html.admin.main(Messages("app.title") + " | Trabalhos") {
    <div class="col-md-12">
        <div class="page-header header-biogas">
            <div class="btn-group btn-breadcrumb pull-right">
                <a href="@routes.AdminController.painel()" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a href="@routes.TrabalhoController.telaLista()" class="btn btn-default">Trabalhos</a>
                <a disabled class="btn btn-default">Lista</a>
            </div>
            <h1 class="font-style"><i class="glyphicon glyphicon-education" aria-hidden="true"></i> Lista de Trabalhos Acadêmicos</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <a type="button" href="@routes.TrabalhoController.telaNovo()" class="pull-right btn btn-success"><span class="fa fa-plus"></span> Cadastrar</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            @form(link(0, "titulo"), 'id -> "filtroForm") {
                                <div class="pull-right">
                                    @caixaSelecao(listForm("autor"), nome = "Filtrar por autor")
                                </div>
                                <!-- INICIO - input-group -->
                                <div class="input-group col-md-4">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar trabalho acadêmico por título" maxlength="100">
                                    <span class="input-group-btn">
                                        <input type="submit" id="searchSubmit" value="Filtrar" class="btn btn-primary">
                                        <a type="button" href="@routes.TrabalhoController.telaLista()" class="btn btn-default"><span class="fa fa-refresh"></span> Limpar</a>
                                    </span>
                                </div>
                                <!-- FIM - input-group -->
                            }
                        </div>
                    </div>
                </div>
                @if(currentPage.getTotalRowCount == 0) {
                    <div class="well well-sm">
                        <em>Nenhuma informação encontrada com a palavra <strong>"@currentFilter"</strong>.</em>
                    </div>
                } else {
                    <div class="table-responsive">
                        <table border="1" class="table table-bordered table-hover dataTable">
                            <thead>
                            <tr role="row">
                                @header("titulo", "Título")
                                <th>Resumo</th>
                                @header("idioma", "Idioma")
                                @header("autores", "Autor/Autores")
                                <th>Data de Cadastro</th>
                                @header("numeroAcesso", "Acessos")
                                <th>Fonte</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(trabalho <- currentPage.getList) {
                            <tr>
                                <td><a href="@routes.TrabalhoController.telaDetalhe(trabalho.getId)">@trabalho.getTitulo</a></td>
                                <td>@trabalho.getResumo</td>
                                <td>@trabalho.getIdioma.getNome</td>
                                <td>@trabalho.getAutores</td>
                                <td>@trabalho.getDataCadastro.format("dd MMMM yyyy")</td>
                                <td>@trabalho.getNumeroAcesso</td>
                                @if(trabalho.getUrl == null || trabalho.getUrl.isEmpty || trabalho.getUrl.equals("https://cibiogas.org")) {
                                <td><a data-placement="right" data-toggle="tooltip" title="Acessar" class="btn btn-default btn-xs" type="button" target="_blank" href="@routes.TrabalhoController.pdfAdmin(trabalho.getNomeArquivo)">Arquivo local</a></td>
                                } else {
                                <td><a data-placement="right" data-toggle="tooltip" title="Acessar" class="btn btn-success btn-xs" type="button" target="_blank" href="@trabalho.getUrl">Fonte externa</a></td>
                                }
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    @*INICIO - Linha da paginacao*@
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                Visualizando @currentPage.getDisplayXtoYofZ(" até ", " total ")</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers pull-right">
                                <ul class="pagination">
                                    @if(currentPage.hasPrev) {
                                    <li class="paginate_button previous">
                                        <a href="@link(currentPage.getPageIndex - 1, null)">Anterior</a>
                                    </li>
                                    } else {
                                    <li class="paginate_button previous disabled">
                                        <a>Anterior</a>
                                    </li>
                                    }
                                    @if(currentPage.hasNext) {
                                    <li class="paginate_button next">
                                        <a href="@link(currentPage.getPageIndex + 1, null)">Próximo</a>
                                    </li>
                                    } else {
                                    <li class="paginate_button next disabled">
                                        <a>Próximo</a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*FIM - Linha da paginacao*@
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    //executa depois que a pagina carregar
    window.onload = function() {

        $('[data-toggle="tooltip"]').tooltip();

        let table = document.getElementsByTagName('table')[0];

        if (table != undefined) {
            resizableGrid(table);
        }

        //checkbox autor via jquery
        $("#autor").change( function() {

            if ($(this).is(":checked")) {
                $("#searchbox").attr("placeholder", "Filtrar trabalho acadêmico por autor");
            }
            else {
                $("#searchbox").attr("placeholder", "Filtrar trabalho acadêmico por título");
            }

        });

    };
</script>