@(marcoForm: play.data.Form[validators.MarcoFormData], marco: Marco)

@usuario() = @{
    Http.Context.current().args.get("usuario").asInstanceOf[Usuario]
}

@import helper._
@import templates.bootstrap._

@views.html.admin.main(Messages("app.title") + " | Detalhe do Marco") {
    <div class="col-md-12">
        <div class="page-header header-biogas">
            <div class="btn-group btn-breadcrumb pull-right">
                <a href="@routes.AdminController.painel()" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a href="@routes.MarcoController.telaLista()" class="btn btn-default">Marcos Regulatórios</a>
                <a disabled class="btn btn-default">Detalhe</a>
            </div>
            <h1 class="font-style"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Detalhe do Marco Regulatório</h1>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Informações
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opções <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.MarcoController.telaLista()">Voltar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@routes.MarcoController.telaEditar(marco.getId)">Editar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a data-toggle="modal" href="#modalImagem">Atualizar Imagem</a></li>
                            @if(usuario.isAdmin) {
                                <li role="separator" class="divider"></li>
                                <li><a data-toggle="modal" href="#modalRemover">Excluir</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="panel-body">

                    <a data-toggle="modal" href="#modalInfo" class="btn btn-default btn-xs pull-right" type="button"><span class="fa fa-info-circle"></span></a>

                    @if(marcoForm.hasGlobalErrors) {
                    <div class="form-group">
                        <div class="col-md-12">
                            <p class="alert alert-danger text-center">@marcoForm.globalError.message</p>
                        </div>
                    </div>
                    }

                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Título</label>
                        <p class="display-block margin-left-027em">@marco.getTitulo</p>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Âmbito</label>
                        <p class="display-block margin-left-027em">@marco.getAmbito</p>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Responsável</label>
                        <p class="display-block margin-left-027em">@marco.getResponsavel</p>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Ano</label>
                        <p class="display-block margin-left-027em">@marco.getAno</p>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Categoria</label>
                        <p class="display-block margin-left-027em">@marco.getCategoria.getNome</p>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">URL</label>
                        <p><a target="_blank" href="@marco.getUrl" class="display-block margin-left-027em">@marco.getUrl</a></p>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Capa</label>
                        <p class="display-block margin-left-027em">@marco.getNomeCapa</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a data-title="@marco.getNomeCapa" data-lightbox="example-set" class="thumbnail" href="@routes.MarcoController.jpg(marco.getNomeCapa)">
                                <img class="img-responsive" src="@routes.MarcoController.jpg(marco.getNomeCapa)" alt="@marco.getNomeCapa">
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Data/Hora de Cadastro</label>
                        <p type="date" class="display-block margin-left-027em">@marco.getDataCadastro.format("dd MMMM yyyy")</p>
                    </div>
                    @if(marco.getDataAlteracao != null){
                    <hr>
                        <div class="item-form width-600 margin-bottom-15">
                            <label class="display-block strong">Data/Hora de Alteração</label>
                            <p class="display-block margin-left-027em">@marco.getDataAlteracao.format("dd MMMM yyyy")</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

}

<div id="modalRemover" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("app.title")</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja remover o marco <b>"@marco.getTitulo"</b>?</p>
            </div>
            <div class="modal-footer">
                @form(routes.MarcoController.remover(marco.getId)) {
                <input id="btnRemover" type="submit" value="Remover" class="btn btn-danger">
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modalImagem" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabelJPG">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("app.title")</h4>
            </div>
            @form(routes.MarcoController.editarImg(marco.getId), 'enctype -> "multipart/form-data") {
            <div class="modal-body">
                @arquivojpg(marcoForm("arquivo"), label = "Arquivo")
            </div>
            <br>
            <div class="modal-footer">
                <input id="btnImg" type="submit" value="Atualizar" class="btn btn-primary">
            </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modalInfo" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabelInfo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("app.title")</h4>
            </div>
            <div class="modal-body">
                <h4>Informações: </h4>
                <p>É possível atualizar ou excluir a Marco Regulatório "<b>@marco.getTitulo</b>" em "<b>Opções</b>"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>