@(id: Long, artigoForm: play.data.Form[validators.ArtigoFormData], idiomas:Map[String,Boolean], temUrl: Boolean)

@import helper._
@import templates.bootstrap._

@views.html.admin.main(Messages("app.title") + " | Editar Artigo Científico") {
<div class="col-md-12">
    <div class="page-header header-biogas">
        <div class="btn-group btn-breadcrumb pull-right">
            <a href="@routes.AdminController.painel()" class="btn btn-default"><i class="fa fa-home"></i></a>
            <a href="@routes.ArtigoController.telaLista()" class="btn btn-default">Artigos</a>
            <a disabled class="btn btn-default">Cadastro</a>
        </div>
        <h1 class="font-style"><i class="fa fa-file-text-o" aria-hidden="true"></i> Editar Artigo Cientifico</h1>
    </div>
</div>
<div class="container">
    @form(routes.ArtigoController.editar(id), 'class -> "form-horizontal", 'id -> "artigoForm") {

    <!-- Row start -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Informações</h3>
                </div>

                <div class="panel-body">

                    @if(artigoForm.hasGlobalErrors) {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <p class="alert alert-danger text-center">@artigoForm.globalError.message</p>
                        </div>
                    </div>
                    }

                    @*titulo*@
                    @texto(artigoForm("titulo"),
                    label = "Título:",
                    placeholder = "Insira o título")

                    @*resumo*@
                    @textoarea(artigoForm("resumo"),
                    label = "Resumo:",
                    placeholder = "Insira o resumo",
                    caracteres = "600")

                    @*idioma*@
                    @selecao(artigoForm("idioma"),
                    label = "Idioma:",
                    optionMap = idiomas,
                    isMultiple = false)

                    @*autores*@
                    @texto(artigoForm("autores"),
                    label = "Autor ou Autores:",
                    placeholder = "Insira o autor")

                    @*palavras chave*@
                    @texto(artigoForm("palavraChave"),
                    label = "Palavras Chave:",
                    placeholder = "Insira a palavra chave")
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

    @if(temUrl) {
    <!-- Row start -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Fonte/Origem</h3>
                </div>

                <div class="panel-body">
                    @*url*@
                    @texto(artigoForm("url"),
                    label = "URL:",
                    placeholder = "Insira um endereço válido - http://articles.com/file")
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->
    }

    <hr >
    @*botoes*@
    <div class="form-group">
        <div class="col-md-12">
            <button data-loading-text="Loading..." id="btnSalvar" type="submit" class="btn btn-success pull-right" autocomplete="off">Salvar</button>
            <a class="btn btn-default" type="button" href="@routes.ArtigoController.telaLista()">Cancelar</a>
        </div>
    </div>
    }

</div>
}


<script type="text/javascript">
    window.onload = function() {
        var form = document.getElementById("artigoForm");
        form.elements[0].focus();

        $('#btnSalvar').on('click', function () {
            var $btn = $(this).button('loading');
        })
    };
</script>