<div class="mdl-grid margem-desktop">
    <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone biogas-page">
        <a style="background-image:url(assets/images/cib/sobre.webp)" class="mdl-card__title">
            <h1 class="mdl-card__title-text">{{Messages('app.about.biogas.title')}}</h1>
        </a>
        <div class="mdl-card__supporting-text">
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('biogas.page.ask1.text')}}</h2>
            <div class="mdl-card__supporting-text">
                <p>{{Messages('biogas.page.text.1')}}</p>
            </div>
            <p class="separador-publicacoes"></p>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('biogas.page.ask2.text')}}</h2>
            <div class="mdl-card__supporting-text">
                <p>{{Messages('biogas.page.text.2')}}</p>
            </div>
            <p class="separador-publicacoes"></p>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('biogas.page.ask3.text')}}</h2>
            <div class="mdl-card__supporting-text">
                <p>{{Messages('biogas.page.text.3')}}</p>
            </div>
        </div>
    </div>
</div>