<div ng-init="init()">
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone busca">
            <a style="background-image:url(assets/images/cib/busca.webp)" class="mdl-card__title" target="_blank">
                <h1 class="mdl-card__title-text">{{Messages('search.page.title')}}</h1>
            </a>
        </div>
        <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone busca">
            <gcse:search></gcse:search>
        </div>
    </div>
</div>