<div class="mdl-grid margem-desktop">
    <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone direito-page">
        <a style="background-image:url(assets/images/cib/direito.webp)" class="mdl-card__title">
            <h1 class="mdl-card__title-text">{{Messages('app.right.title')}}</h1>
        </a>
        <div class="mdl-card__supporting-text">
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE90E;</i> Título 1</h2>

            <div class="mdl-card__supporting-text no-padding ">
                <p>
                    Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
                    Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do.
                    Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation.
                    Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                </p>
            </div>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE90E;</i> Título 2</h2>

            <div class="mdl-card__supporting-text no-padding ">
                <p>
                    Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
                    Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do.
                    Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation.
                    Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                </p>
            </div>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE90E;</i> Título 3</h2>

            <div class="mdl-card__supporting-text no-padding ">
                <p>
                    Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
                    Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do.
                    Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation.
                    Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                </p>
            </div>
        </div>
    </div>
</div>