<div class="mdl-grid margem-desktop">
    <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone membro-page">
        <a style="background-image:url(assets/images/cib/cadastro1.webp)" class="mdl-card__title">
            <h1 class="mdl-card__title-text">{{Messages('app.about.member')}}</h1>
        </a>
        <div class="mdl-card__supporting-text">
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('member.page.ask1.text')}}</h2>
            <div class="mdl-card__supporting-text">
                <p>{{Messages('member.page.answer.ask1.text.1')}} {{Messages('member.page.asnwer.ask1.text.2')}}</p>
            </div>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('member.page.ask2.text')}}</h2>
            <div class="mdl-card__supporting-text">
                <p>{{Messages('member.page.answer.ask2.text')}} <a href="cadastro"> {{Messages('member.page.register.self.text')}}</a></p>
            </div>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('member.page.ask3.text')}}</h2>

            <div class="mdl-card__supporting-text">
                <p>{{Messages('member.page.answer.ask3.text')}}</p>
            </div>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('member.page.ask4.text')}}</h2>

            <div class="mdl-card__supporting-text">
                <p>{{Messages('member.page.answer.ask4.text')}} <a ui-sref="compartilhar">{{Messages('member.page.share.article.text')}}</a></p>
            </div>
            <h2 class="mdl-typography--headline"><i class="mdl-color--deep-orange-cibiogas-text material-icons">&#xE887;</i> {{Messages('member.page.ask5.text')}}</h2>

            <div class="mdl-card__supporting-text">
                <p>{{Messages('member.page.answer.ask5.text')}}</p>
            </div>
        </div>
    </div>
</div>