@(livro: Livro)

@import helper._

@views.html.admin.main("Administração - Detalhe do Livro") {
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Detalhe do Livro
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opções <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.LivroController.telaLista">Voltar</a></li>
                        <li><a href="@routes.LivroController.telaEditar(livro.getId)">Editar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-toggle="modal" data-target=".bs-example-modal-sm" href="">Excluir</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Título</label>
                    <p class="display-block margin-left-027em">@livro.getTitulo</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Subtitulo</label>
                    <p class="display-block margin-left-027em">@livro.getSubTitulo</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Edição</label>
                    <p class="display-block margin-left-027em">@livro.getEdicao</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Páginas</label>
                    <p class="display-block margin-left-027em">@livro.getPaginas</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Ano</label>
                    <p class="display-block margin-left-027em">@livro.getAno</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">ISBN</label>
                    <p class="display-block margin-left-027em">@livro.getIsbn</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Editora</label>
                    <p class="display-block margin-left-027em">@livro.getEditora</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Autores</label>
                    <p class="display-block margin-left-027em">@livro.getAutores</p>
                </div>
                <div class="item-form width-600 margin-bottom-15">
                    <label class="display-block strong">Data/Hora de Cadastro</label>
                    <p type="date" class="display-block margin-left-027em">@livro.getDataCadastro.format("dd MMMM yyyy")</p>
                </div>
                @if(livro.getDataAlteracao != null){
                    <div class="item-form width-600 margin-bottom-15">
                        <label class="display-block strong">Data/Hora de Alteração</label>
                        <p class="display-block margin-left-027em">@livro.getDataAlteracao.format("dd MMMM yyyy")</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Biblioteca</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Deseja remover o livro <b>"@livro.getTitulo"</b>?</p>
                </div>
                <div class="modal-footer">
                    @form(routes.LivroController.remover(livro.getId)) {
                        <input type="submit" value="Remover" class="btn btn-danger">
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}