@(paisForm: play.data.Form[validators.PaisFormData])

@import helper._
@import templates.bootstrap._

@views.html.admin.main(Messages("app.title")) {
@views.html.admin.header("Países", "fa fa-flag")
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Informações</div>
            <div class="panel-body">
            @form(routes.PaisController.inserir, 'class -> "form-horizontal", 'id -> "paisForm") {

                @if(paisForm.hasGlobalErrors) {
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <p class="alert alert-danger text-center">@paisForm.globalError.message</p>
                        </div>
                    </div>
                }

                    @*titulo*@
                @texto(paisForm("nome"),
                    label = "Nome:",
                    placeholder = "Insira o nome")

                    @*botoes*@
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <button id="btnSalvar" type="submit" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" type="button" href="@routes.PaisController.telaLista()">Cancelar</a>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

}

<script type="text/javascript">
    window.onload = function() {
        var form = document.getElementById("paisForm");
        form.elements[0].focus();
    };
</script>
