@views.html.documentacao.main("Biblioteca - Dicionário de Dados - Avaliação") {
    <div class="container">
            <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@routes.DocumentacaoController.inicio()">Início</a>
            </li>
            <li class="breadcrumb-item">Dicionário de Dados</li>
            <li class="breadcrumb-item active">Avaliação</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <h1>Table Data dictionary report - avaliacao</h1><b>Generated: </b>Qui 07 Dez 2017 12:36:33 -02<br /><b>Server: </b>KDE Database (localhost:5432)<br /><b>Database: </b>bibliotecadb<br /><b>Schema: </b>public<br />
                    </div>
                </div>
                <div style="overflow:auto;" class="container">
                    <h2>Columns</h2>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Data type</th>
                            <th>Not Null?</th>
                            <th>Primary key?</th>
                            <th>Default</th>
                            <th>Comment</th>
                        </tr>
                        <tr>
                            <td>id</td>
                            <td>bigint</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>nextval('avaliacao_id_seq'::regclass)</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>nome</td>
                            <td>character varying(200)</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>character varying(150)</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>telefone</td>
                            <td>character varying(18)</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>cpf</td>
                            <td>character varying(20)</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>rg</td>
                            <td>character varying(18)</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>url_lattes</td>
                            <td>character varying(450)</td>
                            <td>No</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>titulo</td>
                            <td>character varying(400)</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>outros_autores</td>
                            <td>character varying(600)</td>
                            <td>No</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>url_documento</td>
                            <td>character varying(450)</td>
                            <td>No</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>termo</td>
                            <td>boolean</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>mensagem</td>
                            <td>character varying(400)</td>
                            <td>No</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>nome_arquivo</td>
                            <td>character varying(450)</td>
                            <td>No</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>status</td>
                            <td>character varying(9)</td>
                            <td>No</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>data_cadastro</td>
                            <td>timestamp without time zone</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </table>
                    <hr>
                </div>
                <div  style="overflow:auto;" class="container">
                    <h2>Constraints</h2>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Definition</th>
                            <th>Comment</th>
                        </tr>
                        <tr>
                            <td>pk_avaliacao</td>
                            <td>Primary key</td>
                            <td>(id)</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>ck_avaliacao_status</td>
                            <td>Check</td>
                            <td>(status::text = ANY (ARRAY['APROVADO'::character varying, 'REPROVADO'::character varying, 'AVALIAR'::character varying]::text[]))</td>
                            <td> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}