<div ng-init="init()">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="p-40 p-r-20 p-20--small">
                <div class="mdl-color-text--grey-700 sticky" ml-sticky offset="60" body-class="mdl-layout__content">
                    <h4><i class="material-icons f-left m-r-5"></i> {{Messages('page.list.videos.panel.title')}}</h4>
                    <p>{{Messages('page.list.panel.text')}}.</p>
                    <div class="m-t-30">
                        <ul class="list-bordered">
                            <li>
                                <a ng-click="reloadPublicacoes()" class="mdl-color--deep-orange-cibiogas-text">
                                    <i class="material-icons m-r-5 f11">grid_on</i>{{Messages('page.list.button.show.title')}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form>
                        <div class="mdl-textfield mdl-js-textfield cib-filtros">
                            <input ng-model="filtro" ng-model-options="{debounce: 500}" class="mdl-textfield__input cib-filtros-input" id="filtro">
                            <label class="mdl-textfield__label cib-filtros-label" for="filtro"><i class="material-icons">&#xE8B6;</i></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid">
                <div ng-show="publicacoes.length == 0" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card__title">
                        <!-- MDL Spinner Component with Single Color -->
                        <div ng-show="loadingPublicacoes" class="mdl-spinner mdl-spinner--single-color spinner-loading-cib mdl-js-spinner is-active"></div>
                    </div>
                </div>
                <div ng-repeat="publicacao in publicacoes | filter : meuFiltro" class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp publicacao">
                    <div class="mdl-card__media">
                        <a ui-sref="publicacoes/detalhe({id:publicacao.id})">
                            <img fade-in class="card-image animate-show" ng-src="publicacao/jpg/{{publicacao.nomeCapa}}" border="0" alt="{{publicacao.nomeCapa}}">
                        </a>
                    </div>
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">{{publicacao.titulo}}</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p class="publicacao-line"><b>{{Messages('card.publisher.resume.title')}}: </b>{{publicacao.resumo}}</p>
                        <p class="separador-publicacoes"></p>
                        <p class="publicacao-line"><b>{{Messages('card.publisher.language.title')}}: </b>{{publicacao.idioma.nome}}</p>
                        <p class="separador-publicacoes"></p>
                        <p class="publicacao-line"><b>{{Messages('card.publisher.autor.title')}}: </b>{{publicacao.autor}}</p>
                        <p class="separador-publicacoes"></p>
                        <p class="publicacao-line"><b>{{Messages('card.publisher.year.title')}}: </b>{{publicacao.ano}}</p>
                        <p class="separador-publicacoes"></p>
                        <p ng-if="publicacao.palavraChave != null" class="publicacao-line"><b>{{Messages('article.page.keywords.title')}}: </b>{{publicacao.palavraChave}}</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <i class="material-icons">&#xE2C4;</i>
                        <p class="mdl-card__subtitle-text">{{Messages('card.button.pdf.view')}}: {{publicacao.numeroAcesso}}</p>
                        <div class="mdl-layout-spacer"></div>
                        <a ui-sref="publicacoes/detalhe({id:publicacao.id})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            {{Messages('card.button.detail.title')}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

