@(noticiaForm: play.data.Form[validators.NoticiaFormData])

@import helper._
@import templates.bootstrap._

@views.html.admin.main(Messages("app.title") + " | Cadastro de Notícias") {
<div class="col-md-12">
    <div class="page-header header-biogas">
        <div class="btn-group btn-breadcrumb pull-right">
            <a href="@routes.AdminController.painel()" class="btn btn-default"><i class="fa fa-home"></i></a>
            <a href="@routes.NoticiaController.telaLista()" class="btn btn-default">Notícias</a>
            <a disabled class="btn btn-default">Cadastro</a>
        </div>
        <h1 class="font-style"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Cadastro de Notícias</h1>
    </div>
</div>
<!--Tela de Cadastro-->
<div class="container">
@form(routes.NoticiaController.inserir, 'enctype -> "multipart/form-data", 'class -> "form-horizontal", 'id -> "noticiaForm") {
    <!-- Row start -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Informações</h3>
                </div>

                <div class="panel-body">

                    @if(noticiaForm.hasGlobalErrors) {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <p class="alert alert-danger text-center">@noticiaForm.globalError.message</p>
                        </div>
                    </div>
                    }

                    @*titulo*@
                    @texto(noticiaForm("titulo"),
                    label = "Título:",
                    placeholder = "Insira o título")

                    @*resumo*@
                    @textoarea(noticiaForm("resumo"),
                    label = "Resumo:",
                    placeholder = "Insira o resumo",
                    caracteres = "400")

                    @*site*@
                    @texto(noticiaForm("url"),
                    label = "Url:",
                    placeholder = "Insira o endereço eletrônico")

                    @*arquivo*@
                    @arquivojpg(noticiaForm("arquivo"),
                    label = "Capa:")

                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

    <hr >
    @*botoes*@
    <div class="form-group">
        <div class="col-md-12">
            <button data-loading-text="Loading..." id="btnSalvar" type="submit" class="btn btn-success pull-right" autocomplete="off">Salvar</button>
            <a class="btn btn-default" type="button" href="@routes.NoticiaController.telaLista()">Cancelar</a>
        </div>
    </div>
    }

</div>

}

<script type="text/javascript">

    window.onload = function() {
        var form = document.getElementById("noticiaForm");
        form.elements[0].focus();

        $('#btnSalvar').on('click', function () {
            var $btn = $(this).button('loading');
        });
    };

</script>