@****************************************
* lista de publicacoes    *
****************************************@

@import views.html.helper.form
@import templates.bootstrap._
@(currentPage: com.avaje.ebean.PagedList[NotaTecnica],
currentSortBy: String,
currentOrder: String,
currentFilter: String,
currentAutor: String,
listForm:DynamicForm)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

var sortBy = currentSortBy
var order = currentOrder

if(newSortBy != null) {
sortBy = newSortBy
if(currentSortBy == newSortBy) {
if(currentOrder == "asc") {
order = "desc"
} else {
order = "asc"
}
} else {
order = "asc"
}
}

// Generate the link
routes.NotaTecnicaController.telaLista(newPage, sortBy, order, currentFilter, currentAutor)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String, largura: String) = {
    <th style="@largura" rowspan="1" colspan="1" tabindex="0" class="@key.replace(".","_") sorting @if(currentSortBy == key) @{if(currentOrder == "asc") "sorting_asc headercor" else "sorting_desc headercor"}">
    <a href="@link(0, key)">@title</a>
    </th>
}

@views.html.admin.main(Messages("app.title")) {
@views.html.admin.header("Notas Técnicas", "fa fa-book")
<div class="col-sm-12">
    @views.html.admin.notificacoes()
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a type="button" href="@routes.NotaTecnicaController.telaNovo()" class="pull-right btn btn-success"><span class="fa fa-plus"></span> Cadastrar</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        @form(link(0, "titulo"), 'id -> "filtroForm") {
                        <div class="pull-right">
                            @caixaSelecao(listForm("autor"), nome = "Filtrar por autor")
                        </div>
                        <!-- INICIO - input-group -->
                        <div class="input-group col-md-4">
                            <input class="form-control" type="search" id="searchBox" name="f" value="@currentFilter" placeholder="Filtrar por título..." maxlength="70">
                            <span class="input-group-btn">
                              <button type="submit" id="searchSubmit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                              <a type="button" href="@routes.NotaTecnicaController.telaLista()" class="btn btn-default"><span class="fa fa-refresh"></span> Limpar</a>
                          </span>
                        </div>
                        <!-- FIM - input-group -->
                        }
                    </div>
                </div>
            </div>
            @if(currentPage.getTotalRowCount == 0) {
            <div class="well well-sm">
                <em>Nenhuma informação encontrada com o valor <strong>"@currentFilter"</strong>.</em>
            </div>
            } else {
            <div class="table-responsive">
                <table border="1" class="table table-bordered table-hover dataTable">
                    <thead>
                    <tr role="row">
                        @header("titulo", "Título", "max-width: 150px")
                        <th style="max-width: 100px;">Resumo</th>
                        @header("idioma", "Idioma", "width: 100px")
                        @header("autor", "Autor/Autores", "width: 180px")
                        @header("ano", "Ano", "width: 100px")
                        @header("numeroAcesso", "Acessos", "width: 100px")
                        <th style="width: 90px;">Fonte</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(notaTecnica <- currentPage.getList) {
                        <tr>
                            <td><a href="@routes.NotaTecnicaController.telaDetalhe(notaTecnica.getId)">@notaTecnica.getTitulo</a></td>
                            <td>@notaTecnica.getResumo</td>
                            <td>@notaTecnica.getIdioma.getNome</td>
                            <td>@notaTecnica.getAutor</td>
                            <td>@notaTecnica.getAno</td>
                            <td>@notaTecnica.getNumeroAcesso</td>
                            @if(notaTecnica.getUrl == null || notaTecnica.getUrl.isEmpty || notaTecnica.getUrl.equals("https://cibiogas.org")) {
                                <td><a class="btn btn-default btn-xs" type="button" target="_blank" href="@routes.NotaTecnicaController.pdfAdmin(notaTecnica.getNomeArquivo)">Local <i class="fa fa-external-link"></i></a></td>
                            } else {
                                <td><a class="btn btn-success btn-xs" type="button" target="_blank" href="@notaTecnica.getUrl">Externo <i class="fa fa-external-link"></i></a></td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            @*INICIO - Linha da paginacao*@
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        Visualizando @currentPage.getDisplayXtoYofZ(" até ", " total ")</div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers pull-right">
                        <ul class="pagination">
                            @if(currentPage.hasPrev) {
                            <li class="paginate_button previous">
                                <a href="@link(currentPage.getPageIndex - 1, null)"><i class="fa fa-arrow-left"></i> Anterior</a>
                            </li>
                            } else {
                            <li class="paginate_button previous disabled">
                                <a>Anterior</a>
                            </li>
                            }
                            @if(currentPage.hasNext) {
                            <li class="paginate_button next">
                                <a href="@link(currentPage.getPageIndex + 1, null)">Próximo <i class="fa fa-arrow-right"></i></a>
                            </li>
                            } else {
                            <li class="paginate_button next disabled">
                                <a>Próximo</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @*FIM - Linha da paginacao*@
            }
        </div>
    </div>
</div>
}

<script type="text/javascript">
    //executa depois que a pagina carregar
    window.onload = function() {

        let table = document.getElementsByTagName('table')[0];
        let campo = document.getElementById("searchBox");

        if (table != undefined) {
            resizableGrid(table);
        }

        //checkbox autor via jquery
        $("#autor").change( function() {

            if ($(this).is(":checked")) {
                $("#searchBox").attr("placeholder", "Filtrar por autor...");
            }
            else {
                $("#searchBox").attr("placeholder", "Filtrar por título...");
            }

            campo.focus();

        });

    };
</script>