@(usuarioForm: play.data.Form[validators.UsuarioFormData])
@import helper._
@import templates.bootstrap._
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/cibiogasicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/material/fonts.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/form-elements.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/form-base.css")">
        <title>@Messages("app.title") - @Messages("register.page.title")</title>
    </head>
<body>
    @*top content*@
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>@Messages("app.title")</strong></h1>
                        <div class="description">
                            <p> @Messages("app.title.cibiogas")</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h2>@Messages("register.page.title")</h2>
                                <p>@Messages("register.page.description"):</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-user-plus"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @form(routes.UsuarioController.inserir, 'id -> "formPreenchido", 'autocomplete -> "off") {
                                @if(usuarioForm.hasGlobalErrors) {
                                    <p align="center" class="error">@usuarioForm.globalError.message</p>
                                }
                                @*nome*@
                                @templates.bootstrap.nome(usuarioForm("nome"), Messages("register.username"))
                                @*email*@
                                @templates.bootstrap.email(usuarioForm("email"), Messages("register.email"))
                                @*password*@
                                @templates.bootstrap.senha(usuarioForm("senha"), Messages("register.password"))
                                @*confirm-password*@
                                @templates.bootstrap.senha(usuarioForm("confirm_senha"), Messages("register.confirm.password"))
                                <button data-loading-text="Loading..." id="btnRegistrar" type="submit" class="btn">@Messages("register")</button>
                            }
                            <br>
                            <p class="text-center">@Messages("register.page.ask") <a href="@routes.LoginController.telaLogin()">@Messages("login.page.signin.title")</a>.</p>
                        </div>
                    </div>
                </div>
                @footer()
            </div>
        </div>
    </div>
    <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bower_components/jquery-backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function() {

            /*
             Fullscreen background
             */
            $.backstretch("@routes.Assets.versioned("images/cib/udcib.jpg")", {transitionDuration: 240});

            $('[data-toggle="tooltip"]').tooltip();

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

            $('#btnRegistrar').on('click', function () {
                var $btn = $(this).button('loading');
            });
        });
    </script>
</body>
</html>